[database]
hostname = {{ dbcon.host }}
username = {{ dbcon.user }}
password = {{ dbcon.pwd }}
dbname = {{ dbcon.db }}

[environment]
environment = {{ app['env'] }}

[prefs]
color  = {{ fav['color'] }}
fruit  = {{ fav['fruit'] }}
car    = {{ fav['car'] }}
laptop = {{ fav['laptop'] }}